<div class="form-input__wrapper">
  <input class="form-input border-radius blue-border" 
    {{#if disabled}} disabled {{/if}} 
    value="{{value}}" 
    placeholder='{{placeholder}}' 
    type="{{type}}"
    name="{{name}}">
  <label>{{placeholder}}</label>
</div>
